package {{ .File.Package }}

{{- $file := .File }}
{{- $currentFile := $file.Name | getProtoFile }}
{{- $currentPath := $currentFile.GoPkg.Path }}

import (
  "context"
  "sync/atomic"

  "github.com/golang/protobuf/proto"
  nprpc "github.com/huangjunwen/nproto/rpc"
  npmsg "github.com/huangjunwen/nproto/msg"
  {{ range $file.Dependency -}}
    {{ (. | getProtoFile).GoPkg }}
  {{ end -}}
)

{{ range $svc := .File.Service }}

  //{{ leadingComment $svc | trimAll "\n" | replace "\n" "\n//" }}
  type {{ $svc.Name }} interface {
    {{ range $svc.Method -}}
      //{{ leadingComment . | trimAll "\n" | replace "\n" "\n//" }}
      {{ .Name }}(ctx context.Context, input *{{ (.InputType | getMessageType $file).GoType $currentPath }}) (output *{{ (.OutputType | getMessageType $file).GoType $currentPath }}, err error)
    {{ end }}
  }

  // Serve{{ $svc.Name }} use rpc server to serve {{ $svc.Name }} service.
  func Serve{{ $svc.Name }}(server nprpc.RPCServer, svcName string, svc {{ $svc.Name }}) error {
    return server.RegistSvc(svcName, map[*nprpc.RPCMethod]nprpc.RPCHandler{
      {{ range $svc.Method -}}
        method{{ $svc.Name }}__{{ .Name }}: func(ctx context.Context, input proto.Message) (proto.Message, error) {
          return svc.{{ .Name }}(ctx, input.(*{{ (.InputType | getMessageType $file).GoType $currentPath }}))
        },
      {{ end -}}
    })
  }

  // Invoke{{ $svc.Name }} use rpc client to invoke {{ $svc.Name }} service.
  func Invoke{{ $svc.Name }}(client nprpc.RPCClient, svcName string) {{ $svc.Name }} {
    return &client{{ $svc.Name }}{
      svcName: svcName,
      client: client,
    }
  }

  {{ range $svc.Method -}}
    // method{{ $svc.Name }}__{{ .Name }} is descriptor of method {{ $svc.Name }}.{{ .Name }}.
    var method{{ $svc.Name }}__{{ .Name }} = &nprpc.RPCMethod{
      Name: "{{ .Name }}",
      NewInput: func() proto.Message { return &{{ (.InputType | getMessageType $file).GoType $currentPath }}{} },
      NewOutput: func() proto.Message { return &{{ (.OutputType | getMessageType $file).GoType $currentPath }}{} },
    }
  {{ end }}

  // client{{ $svc.Name }} implements {{ $svc.Name }} interface.
  type client{{ $svc.Name }} struct {
    svcName string
    client nprpc.RPCClient
    {{ range $svc.Method -}}
      handler{{ .Name }} atomic.Value // nprpc.RPCHandler
    {{ end -}}
  }

  {{ range $svc.Method }}
    // {{ .Name }} implements {{ $svc.Name }} interface.
    func (svc *client{{ $svc.Name }}) {{ .Name }}(ctx context.Context, input *{{ (.InputType | getMessageType $file).GoType $currentPath }}) (*{{ (.OutputType | getMessageType $file).GoType $currentPath }}, error) {
      v := svc.handler{{ .Name }}.Load()
      if v == nil {
        // NOTE: This branch maybe entered several times but ok.
        v = svc.client.MakeHandler(svc.svcName, method{{ $svc.Name }}__{{ .Name }})
        svc.handler{{ .Name }}.Store(v)
      }
      output, err := v.(nprpc.RPCHandler)(ctx, input)
      if err != nil {
        return nil, err
      }
      return output.(*{{ (.OutputType | getMessageType $file).GoType $currentPath }}), nil
    }
  {{ end }}

{{ end }}

{{ range $msg := .File.MessageType }}
  {{ if regexMatch "<npmsg>" (leadingComment $msg) }}

    // Subscribe{{ $msg.Name }} subscribe to the given subject. The same message will be resend if handler returns error.
    func Subscribe{{ $msg.Name }}(subscriber npmsg.MsgSubscriber, subject, group string, handler func(context.Context, string, *{{ $msg.Name }}) error, opts ...interface{}) {
      subscriber.Subscribe(subject, group, func(ctx context.Context, subject string, data []byte) error {
        m := &{{ $msg.Name }}{}
        if err := proto.Unmarshal(data, m); err != nil {
          return err
        }
        return handler(ctx, subject, m)
      }, opts...)
    }

  {{ end }}
{{ end }}

// Avoid import and not used errors.
var (
  _ = context.Background
  _ = atomic.AddInt32
  _ = proto.Marshal
  _ = nprpc.Passthru
  _ = npmsg.NewMsgConnector
)

